fastapi==0.95.1 
uvicorn==0.22.0 

#new
SQLAlchemy==2.0.13
psycopg2==2.9.6    #linux/mac user use: psycopg2-binary==2.9.6
alembic==1.11.1
alembic-postgresql-enum==1.2.0
python-dotenv==1.0.0
pydantic[email]
#hashsing
passlib[bcrypt] 
pytest==8.2.0
httpx==0.27.0

#jwt
python-jose==3.3.0
python-multipart